#!/usr/bin/make -f

build: debian/stamp-build
debian/stamp-build:
	dh build --before configure
	dh_auto_configure -- --enable-doc
	dh build --after configure
	touch $@

clean: 
	dh clean
	rm -f $(CURDIR)/debian/stamp-*

install: build debian/stamp-install
debian/stamp-install:
	dh install
	touch $@

# Build architecture-independent files here.
binary-indep: build install
	dh binary-indep
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh binary-arch

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
